.item {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 1100px;
  height: 40px;
  background-color: #ff9500;
  border: 0;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 1.3em;
  color: #002147;
  box-shadow: 1px 1px 3px gray;
}

.button {
  width: 60px;
  height: 40px;
  color: #002147;
  border: 0;
  border-radius: 20px;
  background-color: #0095dd;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: 1px 1px 3px gray;
}

.button:hover {
  box-shadow: 1px 1px 3px black;
}