.item {
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #ffcb00;
  color: #002147;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check {
  width: 20px;
  height: 20px;
}

.number {
  font-weight: 800;
}

.text {
  width: 88%;
}

.button {
  width: 39px;
  height: 39px;
  background-color: #fc3c7f;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 3px black;
}

.bin {
  width: 28px;
  height: 28px;
  margin: auto;
}